html { 
    background: url(https://gfx.antyradio.pl/var/antyradio/storage/images/news/necronomicon-czy-mroczna-ksiega-z-tworczosci-hp-lovecrafta-istnieje-naprawde-40152/11801932-2-pol-PL/Necronomicon-czy-mroczna-ksiega-z-tworczosci-H.P.-Lovecrafta-istnieje-naprawde_article.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
 
div.container {
    width: 1000px auto;
    height: 30px;
    margin: 10px auto;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    background: rgb(255, 255, 255, 0.1);
    font-family: 'warcraft', sans-serif;
    font-size: 32px;

}


.form-container {
    display: flex; 
    flex-wrap: wrap;
    width: 200px;
    margin: 0 auto;
    


}

.new-tome {
    display: flex; 
    flex-wrap: wrap;
    margin: 0 auto;
  
}

.tome-container {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    min-height: 550px;
    margin: 0 auto;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(/static/images/scroll.png);
    background-size: 550px; 

}

html {
    font-family: 'warcraft', sans-serif;
    font-size: 36px;
                                                

}

.show-container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    min-height: 550px;
    margin: 0 auto;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(/static/images/scroll.png);
    background-size: 400px;

}

.scroll {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    min-height: 550px;
    margin: 0 auto;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(/static/images/scroll.png);
    background-size: 400px; 
    


}

.form-container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    min-height: 550px;
    margin: 0 auto;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(/static/images/scroll.png);
    background-size: 400px;
}



    
    
    

   
   
    






    




